.wrapper {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main"
      "footer footer footer"
    ;
  
  }
  
  .header {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
  }
  
  .featured-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
   
  .article-cards {
    min-height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  
  .card {
    min-height: 35rem;
    max-width: 23rem;
  }
   
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
   
  #img1, #img2, #img3 {
    size: 30%
  
  }
  
  .footer {
    grid-area: footer;
  }
  
  .footer__content {
    width: 100%;
    padding-block: 1.5rem;
    font-weight: bold;
  }